In [49]:
import pandas as pd
import heapq

In [68]:
raw_data = pd.read_excel('sudoku.xlsx', header=None)
data = raw_data.copy()
data

   0  1  2  3  4  5  6  7  8
0  8  0  0  0  0  0  0  0  4
1  5  0  0  0  8  0  0  1  7
2  0  2  0  5  0  0  0  0  0
3  0  0  6  0  0  9  0  0  0
4  2  0  0  0  7  0  0  8  5
5  0  0  0  0  0  0  3  0  0
6  0  0  0  0  3  0  2  0  0
7  1  0  0  0  0  0  4  0  0
8  0  9  0  0  0  7  0  3  1

# Class SudokuSolver

In [84]:
class SudokuSolver():
    def __init__(self):
        self.dxy = [(0,0), (1,0), (2,0),
            (0,1), (1,1), (2,1),
            (0,2), (1,2), (2,2)]
        self.is_solved = False
        self.hasil = pd.DataFrame()
        self.nol_terdikit = 81
        

    def solve(self, data):
        pq = self.buat_pq(data)
        self.rekursif(data, pq)

        if self.is_solved:
            return self.hasil
        else:
            print("tidak dapat diselesaikan")
            return self.hasil

    def rekursif(self, data, pq):
        if (self.is_solved):
            return
        
        banyak_nol = self.banyak_nol(data)
        if banyak_nol < self.nol_terdikit:
            self.nol_terdikit = banyak_nol
            self.hasil = data

        if banyak_nol == 0:
            self.is_solved = True
            return

        banyak, (x,y) = heapq.heappop(pq)
        kandidat = self.daftar_kandidat(data, x, y)

        for kand in kandidat:
            new_data = data.copy()
            new_data[x][y] = kand
            new_pq = self.buat_pq(new_data)
            self.rekursif(new_data, new_pq)

       
    def buat_pq(self, data):
        pq = []
        for x in range(9):
            for y in range(9):
                if data[x][y] == 0:
                    heapq.heappush(pq, (len(self.daftar_kandidat(data, x,y)), (x,y)))
        return pq


    def daftar_kandidat(self, data, x, y):
        kandidat = []
        for nilai in range(1, 10):
            if self.bisa_taruh(data, x, y, nilai):
                kandidat.append(nilai)
        return kandidat

    def banyak_nol(self, data):
        banyak = 0
        for x in range(9):
            for y in range(9):
                if data[x][y] == 0:
                    banyak += 1
        return banyak
        
    def bisa_taruh(self, data, x, y, nilai):
        x_mulai = (x//3) * 3
        y_mulai = (y//3) * 3

        for i in range(9):
            x_now, y_now = (x_mulai+self.dxy[i][0], y_mulai+self.dxy[i][1])
            if (data[x][i]==nilai) or (data[i][y]==nilai) or (data[x_now][y_now]==nilai):
                return False
        return True

In [80]:
raw_data

   0  1  2  3  4  5  6  7  8
0  8  0  0  0  0  0  0  0  4
1  5  0  0  0  8  0  0  1  7
2  0  2  0  5  0  0  0  0  0
3  0  0  6  0  0  9  0  0  0
4  2  0  0  0  7  0  0  8  5
5  0  0  0  0  0  0  3  0  0
6  0  0  0  0  3  0  2  0  0
7  1  0  0  0  0  0  4  0  0
8  0  9  0  0  0  7  0  3  1

In [85]:
data = raw_data.copy()
solver = SudokuSolver()
hasil = solver.solve(data)
hasil

   0  1  2  3  4  5  6  7  8
0  8  1  3  7  9  6  5  2  4
1  5  6  4  3  8  2  9  1  7
2  9  2  7  5  1  4  8  6  3
3  3  8  6  1  5  9  7  4  2
4  2  4  9  6  7  3  1  8  5
5  7  5  1  2  4  8  3  9  6
6  6  7  8  4  3  1  2  5  9
7  1  3  2  9  6  5  4  7  8
8  4  9  5  8  2  7  6  3  1